<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro DuoDev</title>
    <link rel="stylesheet" href="assets/estiloCadastro.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
</head>
<body>
    <div id="divForm">
        <h2 id="tituloCad">Crie sua conta</h2>
        <div id="divCentralCadImg">
            <img src="logoDuoDev.png" id="imgLogo" alt="Logo DuoDev">
            <div id="divCentralCad">
                <input type="text" class="inputUsuario" placeholder="Nome completo" id="inputNome">
                <input type="text" class="inputUsuario" placeholder="Email" id="inputEmail">
                <input type="password" class="inputUsuario" placeholder="Senha" id="inputSenha">
                <input type="password" class="inputUsuario" placeholder="Confirmar senha" id="inputConfSenha">
                <input type="text" class="inputUsuario" placeholder="CPF" id="inputCPF">
                <select class="inputUsuario" id="selectGenero">
                    <option value="CisH" class="optSel">Homem Cis</option>
                    <option value="CisM" class="optSel">Mulher Cis</option>
                    <option value="Trans" class="optSel">Trans</option>
                    <option value="NaoBinario" class="optSel">Não-binário</option>
                    <option value="Fluido" class="optSel">Fluido</option>
                    <option value="Bigenero" class="optSel">Bigênero</option>
                    <option value="Outro" class="optSel">Outro</option>
                </select>
                <select class="inputUsuario" id="selectPerfil">
                    <option value="Mentor" class="optSel">Mentor(a)</option>
                    <option value="Mentorado" class="optSel">Aluno(a)</option>
                    <option value="Ambos" class="optSel">Ambos</option>
                </select>
                <button id="btnLogin" type="button">CADASTRAR-SE</button>
            </div> 
        </div>
    </div>
    <script src="assets/scriptCadastro.js"></script>
</body>
</html>
